<div class="container col-6 my-5">
    <div class="card">
        <div class="card-body">
            <form action="">
                <div class="form-group">
                    <label for="">Name</label>
                    <input [(ngModel)]="teacher.name" name="name" type="text" class="form-control">
                    <label for="">course</label>
                    <input [(ngModel)]="teacher.course" name="course" type="text" class="form-control">
                </div>
                <button (click)="edit()" class="btn btn-primary btn-block w-25 mx-auto">Update</button>
            </form>
        </div>
    </div>
</div>