/* body{
    background-color: #111;
} */
.card{
    color: white;
    background-color: rgb(48, 116, 112);
}

/* @import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700); */
body{
  background: -webkit-linear-gradient(left, #25c481, #25b7c4);
  background: linear-gradient(to right, #25c481, #25b7c4);
  /* font-family: 'Roboto', sans-serif; */
}